/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  font-family: "Poppins", sans-serif;
  /* padding-inline: 2rem; */
}

body {
  /* font-family: 'Poppins', sans-serif; */
  margin: 0px;
}

.ant-btn {
  padding-block: 24px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 12px;
}

.explore-btn {
  color: #fff;
  background: #f16b51;
  border-color: #f16b51;
  /* transition: all 0.3s ease; */
}

.explore-btn:hover {
  color: #fff !important;
  background: #f05435 !important;
  /* transform: scale(1.2); */
}

.ant-btn {
  /* color: #ffff; */
  /* background-color: #F16B51; */
  width: 155px;
  .ant-btn-variant-link {
    color: #0000;
  }
}
/* 
h1 {
  font-size: 50px;
}

p {
  width: 578px;
  size: 24px;
} */

.ant-select-single {
  border: #d9d9d9 !important;
  /* box-shadow: none !important; */
}
